.wish-container {
	min-height: 90vh;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.wish-main {
	width: 80%;
	background-color: var(--back-primary);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.wish-main > h1 {
	padding: 0.5rem 0;
}
.wish-main > h2 {
	margin: 4rem 0;
	font-size: 2rem;
	color: var(--primary);
}
.wishlist-container {
	width: 100%;
	background-color: var(--back-primary);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-gap: 1.5rem;
}
