.filter-container {
	grid-area: filter-area;
	background-color: var(--back-primary);
	color: var(--head-primary);
	height: 90vh;
	position: sticky;
	top: 10vh;
	padding: 1.5vh 0.5vh;
}
.filter-main {
	background-color: var(--back-secondary);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	height: 100%;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.filter-head-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.cta-clear {
	font-family: "Montserrat", sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.05rem;
	padding: 0.325rem 1rem;
	border-radius: 1rem;
	background-color: var(--back-primary);
	color: var(--head-primary);
	cursor: pointer;
	transition: all 0.25s ease;
	box-shadow: rgba(209, 209, 209, 0.1) 0px 10px 15px -3px,
		rgba(190, 190, 190, 0.05) 0px 4px 6px -2px;
}
.cta-clear:hover {
	color: var(--primary);
	transition: all 0.25s ease;
	box-shadow: rgba(68, 68, 68, 0.1) 0px 10px 15px -3px,
		rgba(66, 66, 66, 0.05) 0px 4px 6px -2px;
}

.filter-head {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}
.filter-body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	list-style: none;
}

.filter-list {
	list-style: none;
	padding: 0.25rem;
}
.filter-name {
	font-size: 1.75rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.filter-check {
	margin: 0rem 0.5rem;
}

.label-name {
	font-size: 1.75rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}

@media screen and (max-width: 940px) {
	.filter-container {
		display: none;
	}
}
