.filter-container {
	background-color: white;
	height: 90vh;
	position: sticky;
	top: 10vh;
	padding: 1.5vh;
}
.filter-main {
	background-color: #f5f4fa;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	height: 100%;
}
