@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap");
* {
	box-sizing: border-box;
}

.head-container {
	background-color: #4d25e0;
	color: white;
	min-height: 10vh;
	position: sticky;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
nav {
	width: 80%;
	display: flex;
	justify-content: space-between;
}
nav a {
	color: white;
	padding: 0rem 1.5rem;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}
.head-main-logo {
	font-size: 3.5rem;
	font-weight: 800;
	font-family: "Montserrat", sans-serif;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head-logo {
	font-size: 4rem;
	margin: 0 1rem 0 0;
}
.flex-align-center {
	display: flex;
	align-items: center;
}
.heading {
	font-size: 1.75rem;
	font-weight: 500;
}

.head-icons {
	font-size: 2.5rem;
}
.head-rev-invisible {
	display: none;
}

@media screen and (max-width: 1024px) {
	nav {
		width: 95%;
	}
	nav a {
		padding: 0.75rem;
	}
	.head-logo {
		margin: 0;
	}
	.head-camkart {
		display: none;
	}
	.head-hidden {
		display: none;
	}
	.head-rev-invisible {
		display: block;
	}
}
